 " Proper search
set incsearch
set ignorecase
set smartcase

set number relativenumber

set ideajoin
set showmode

let mapleader = "\<Space>"

map ; :
" Jump to start and end of line using the home row keys
map H ^
map L $

" <leader><leader> toggles between buffers
map <leader><leader><Action>(GoToLastTab)

" delete without yanking
map <leader>d "_d
vmap <leader>d "_d

" replace currently selected text with default register
" without yanking it
vmap <leader>p "_dP

" copy and paste to clipboard
map <leader>y "+y
vmap <leader>y "+y
vmap <leader>pp "+gP
map <leader>pp "+gP

" <leader><leader> toggles between buffers
map <leader><leader> <F12>

" Move by line
map j gj
map k gk


map <leader>k <Action>(ShowHoverInfo)
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gr <Action>(FindUsages)
map <leader>/ <Action>(CommentByLineComment)
vmap <leader>/ <Action>(CommentByLineComment)
map <leader>la <Action>(ShowIntentionActions)
map <leader>lr <Action>(RenameElement)
map <leader>lf <Action>(ReformatCode)
map <leader><TAB> <Action>(FileStructurePopup)
map <silent> [d <Action>(GotoPreviousError)
map <silent> ]d <Action>(GotoNextError)


map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>fb <Action>(Switcher)
